@model BD_Escuela.Models.Notas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstudiantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstudiantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsignaturas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsignaturas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudiantes.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
